@page
@model GameApp.Pages.QuestionModel
@{
}

<h2>@Model.CurrentQuestion.Description</h2>

<form>
    @if (!Model.LifelineContainer.isFiftyFiftyUsed)
    {
        <button type="button" onclick="fiftyFifty()">50/50</button>
    }
    <br />

    <label>
        <input type="radio" name="option" value="1" data-correct="@Model.CurrentQuestion.Options[0].Correct.ToString()" /> @Model.CurrentQuestion.Options[0].Description
    </label>
    <br />
    <label>
        <input type="radio" name="option" value="2" data-correct="@Model.CurrentQuestion.Options[1].Correct.ToString()" /> @Model.CurrentQuestion.Options[1].Description
    </label>
    <br />
    <label>
        <input type="radio" name="option" value="3" data-correct="@Model.CurrentQuestion.Options[2].Correct.ToString()" /> @Model.CurrentQuestion.Options[2].Description
    </label>
    <br />
    <label>
        <input type="radio" name="option" value="4" data-correct="@Model.CurrentQuestion.Options[3].Correct.ToString()" /> @Model.CurrentQuestion.Options[3].Description
    </label>
    <br />

    <button type="button" onclick="submitAnswer()">Submit Answer</button>
</form>

<script>
    function submitAnswer() {
        var selectedOption = document.querySelector('input[name="option"]:checked');

        if (selectedOption) {
            var selectedValue = selectedOption.value;
            var isCorrect = selectedOption.dataset.correct === "True";

            if (isCorrect) {
                // Redirect to the same page and refresh if the answer is correct
                window.location.href = window.location.href;
            } else {
                // Redirect to /home if the answer is wrong
                window.location.href = "/Lobby";
            }
        } else {
            alert("Please select an option before submitting.");
        }
    }

    function fiftyFifty() {
        // Select two incorrect options

        var incorrectOptions = document.querySelectorAll('input[data-correct="False"]');
        // Hide the selected options
        if (incorrectOptions.length >= 2) {
            incorrectOptions[0].parentNode.style.display = 'none';
            incorrectOptions[1].parentNode.style.display = 'none';
        }
    }
</script>
